.comments_name_user{
  --color: var(--ion-color-secondary-contrast);
  font-size: 12px;
  font-weight: bold;
}

.comments_description_user{
  --color: var(--ion-color-secondary-contrast);
  font-size: 12px;
}

.avatarUserComment{
  border: 2px solid white;
}
