<ion-grid class="transparent">
  <ion-row class="transparent">
    <ion-col class="ion-text-center" size="6">
      <ion-item color="light" class="buttonshortcuts" lines="none" button>
        <div class="notification"></div>
        <ion-icon src="assets/icon/video.svg"></ion-icon>
        <ion-label>Videos en watch</ion-label>
      </ion-item>
    </ion-col>
    <ion-col class="ion-text-center" size="6">
      <ion-item color="light" class="buttonshortcuts" lines="none" button>
        <div class="notification"></div>
        <ion-icon src="assets/icon/cart.svg"></ion-icon>
        <ion-label>Market place</ion-label>
      </ion-item>
    </ion-col>
    <ion-col class="ion-text-center" size="6">
      <ion-item color="light" class="buttonshortcuts" lines="none" button>
        <div class="items">
          <ion-avatar>
            <ion-img
              src="https://hbxtrrlccditbwhytiit.supabase.co/storage/v1/object/public/facebookconcept/profile2-min.png"
            ></ion-img>
          </ion-avatar>
          <ion-avatar>
            <ion-img
              src="https://hbxtrrlccditbwhytiit.supabase.co/storage/v1/object/public/facebookconcept/profile2.png"
            ></ion-img>
          </ion-avatar>
          <ion-avatar>
            <ion-img
              src="https://hbxtrrlccditbwhytiit.supabase.co/storage/v1/object/public/facebookconcept/profile1.png"
            ></ion-img>
          </ion-avatar>
        </div>
        <ion-icon src="assets/icon/heart.svg"></ion-icon>
        <ion-label>Parejas</ion-label>
      </ion-item>
    </ion-col>
    <ion-col class="ion-text-center" size="6">
      <ion-item color="light" class="buttonshortcuts" lines="none" button>
        <div class="items">
          <ion-icon src="assets/icon/like_facebook.svg"></ion-icon>
          <ion-icon src="assets/icon/heart_facebook.svg"></ion-icon>
        </div>
        <ion-icon src="assets/icon/game.svg"></ion-icon>
        <ion-label>Videojuegos</ion-label>
      </ion-item>
    </ion-col>
    <ion-col class="ion-text-center" size="6">
      <ion-item color="light" class="buttonshortcuts" lines="none" button>
        <ion-icon src="assets/icon/bag.svg"></ion-icon>
        <ion-label>Empleos</ion-label>
      </ion-item>
    </ion-col>
    <ion-col class="ion-text-center" size="6">
      <ion-item color="light" class="buttonshortcuts" lines="none" button>
        <ion-icon src="assets/icon/bookmark.svg"></ion-icon>
        <ion-label>Guardados</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
