// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #1977f3;
  --ion-color-primary-rgb: 25, 119, 243;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1669d6;
  --ion-color-primary-tint: #3085f4;

  /** secondary **/
  --ion-color-secondary: #ffffff;
  --ion-color-secondary-rgb: 255, 255, 255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0e0e0;
  --ion-color-secondary-tint: #ffffff;

  /** tertiary **/
  --ion-color-tertiary: #fafbfc;
  --ion-color-tertiary-rgb: 250, 251, 252;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #dcddde;
  --ion-color-tertiary-tint: #fbfbfc;

  /** success **/
  --ion-color-success: #63c48c;
  --ion-color-success-rgb: 99, 196, 140;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #57ac7b;
  --ion-color-success-tint: #73ca98;

  /** danger **/
  --ion-color-danger: #f31954;
  --ion-color-danger-rgb: 243, 25, 84;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d6164a;
  --ion-color-danger-tint: #f43065;

  /** dark **/
  --ion-color-dark: #2d3f7b;
  --ion-color-dark-rgb: 45, 63, 123;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #28376c;
  --ion-color-dark-tint: #fafafa;

  /** medium **/
  --ion-color-medium: #b2b8c9;
  --ion-color-medium-rgb: 178, 184, 201;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #9da2b1;
  --ion-color-medium-tint: #babfce;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;
}

body.dark {
  /* secondary */
  --ion-color-secondary: #222833;
  --ion-color-secondary-rgb: 34, 40, 51;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #1e232d;
  --ion-color-secondary-tint: #383e47;

  /** tertiary **/
  --ion-color-tertiary: #080e1d;
  --ion-color-tertiary-rgb: 8, 14, 29;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #070c1a;
  --ion-color-tertiary-tint: #212634;

  /** light **/
  --ion-color-light: #080e1d;
  --ion-color-light-rgb: 8, 14, 29;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #070c1a;
  --ion-color-light-tint: #212634;

  /** dark **/
  --ion-color-dark: #ffffff;
  --ion-color-dark-rgb: 45, 63, 123;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #28376c;
  --ion-color-dark-tint: #2a303b;
}
