<div class="containerSlides ion-padding-start">
  <swiper class="swiperStories" [config]="config">
    <ng-template swiperSlide>
      <ion-thumbnail class="ion-activatable">
        <ion-img [src]="user.userPhotoUrl"></ion-img>
        <ion-icon class="add_storie" src="assets/icon/addstorie.svg"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-thumbnail>
      <ion-label>Crear historia</ion-label>
    </ng-template>

    <ng-template *ngFor="let storie of stories" swiperSlide>
      <ion-thumbnail class="ion-activatable">
        <ion-img [src]="storie.photoStorieUrl"></ion-img>
        <ion-avatar class="photo_user">
          <ion-img [src]="storie.userPhotoUrl"></ion-img>
        </ion-avatar>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-thumbnail>
      <ion-label class="ion-text-center">{{ storie.nameUser }}</ion-label>
    </ng-template>
  </swiper>
</div>
