<ion-toolbar color="secondary">
  <ion-avatar class="ion-margin-start" slot="start">
    <ion-img src="assets/images/logo-facebook.png"></ion-img>
  </ion-avatar>
  <ion-buttons slot="end">
    <ion-button fill="solid" shape="round">
      <ion-icon color="dark" src="assets/icon/search.svg"></ion-icon>
    </ion-button>
    <ion-button style="display: absolute" fill="solid" shape="round">
      <ion-icon color="dark" src="assets/icon/notifications.svg"></ion-icon>
      <div class="notification"></div>
    </ion-button>
    <ion-button fill="solid" shape="round">
      <ion-icon
        size="small"
        color="primary"
        src="assets/icon/messenger.svg"
      ></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-avatar (click)="redirectToProfile()" class="ion-margin-end" slot="end">
    <ion-img [src]="user.userPhotoUrl"></ion-img>
  </ion-avatar>
</ion-toolbar>
