<ion-label class="publicationDescription">{{
  publication.description
}}</ion-label>
<ion-thumbnail class="publicationPhoto ion-margin-top ion-margin-bottom">
  <ion-img [src]="publication.photoPublicationUrl"></ion-img>
</ion-thumbnail>
<ion-label color="medium"
  >{{ publication.commentsCount }} comentarios ·
  {{ publication.sharedCount }} compartidos</ion-label
>
<ion-item lines="none" class="transparent">
  <ion-buttons slot="start">
    <ion-button fill="solid" shape="round">
      <ion-icon
        color="dark"
        size="small"
        slot="icon-only"
        src="assets/icon/like.svg"
      ></ion-icon>
    </ion-button>
    <ion-button fill="solid" shape="round">
      <ion-icon
        color="dark"
        size="small"
        slot="icon-only"
        src="assets/icon/comment.svg"
      ></ion-icon>
    </ion-button>
    <ion-button fill="solid" shape="round">
      <ion-icon
        color="dark"
        size="small"
        slot="icon-only"
        src="assets/icon/share.svg"
      ></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label slot="end" color="medium" class="publicationLikes ion-text-wrap"
    >Tú y {{ publication.likesCount }} personas más
    <ion-icon
      class="icon_heart_facebook"
      src="assets/icon/like_facebook.svg"
    ></ion-icon>
    <ion-icon
      class="icon_like_facebook"
      src="assets/icon/heart_facebook.svg"
    ></ion-icon>
  </ion-label>
</ion-item>
